html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #018980;
}

ul {
  text-align: left;
  font-size: 20px;
  border-style: solid;
  border-width: 10px;
  border-image: radial-gradient(rgb(190, 92, 255), rgb(23, 37, 238)) 1;
  background-color: #002f61;
  color: #ff94dd;
  width: 30%;
}

h1 {
  text-align: center;
  background-image: linear-gradient(to right, #fe9f9f, #ff7575, #ffadad);
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 30px;
  justify-content: center;
  line-height: 1em;
  max-width: 50%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
